h1 {
  font-style: italic;
  text-align: center;
}
body {
  background-color: skyblue;
  background-image: url("../images/download.jpg");
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.intro {
  font-style: italic;
}
.important {
  border: 2px;
  padding: 6px;
  margin: 0.5px;
  width: auto;
  text-align: center;
}
